# Servidor
PORT=3002
NODE_ENV=development

# Base de datos MySQL
DATABASE_URL="mysql://USERNAME:PASSWORD@localhost:3306/2arbolitos?schema=public"

# JWT
JWT_SECRET=tu_secreto_jwt_aqui_muy_seguro_cambialo
JWT_EXPIRES_IN=7d

# Frontend (para CORS)
FRONTEND_URL=http://localhost:5173
